
<html>
<head>
    <title>UMUZI&reg;</title>
    <style>
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}
li {
    float: left;
}
li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}
li a:hover {
    background-color: #111;
}
</style>
</head>



<body background="1pic.jpg" height="1" width="5">

<ul>
    <li><a  href=" home.html"><b> HOME /</b></a></li>
    <li><a class="active" href=" aboutus.html"><b> ABOUT US /</b></a></li><li><a href=" login.html"><b> LOGIN </b></a></li>
</ul>
</br><center>
    <img src="doit.jpg">

    <h3> our website help people to access their information in our database</h3>
    <h5> contact: +250 782989393</br>
        e-mail  : sandrineu46@gmail.com</h5></center>




<hr line="1" width="1200" heigth="56">
<p align="center">&copy; 2019 copyrigth  UMUZI</p>
</body>
</html>